body {
	margin: 0;
	background-color: #f7caf5;
}

* {
    box-sizing: border-box;
    
}


header {
    background-color: violet;
	width: 100%;
    height: auto;
    top:0;
    position: sticky;
}

h1 {
    margin-top: 0;
	font-size: 35px !important;
	text-align: center;
	color: #FFFFFF;
}

nav {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

nav ul li {
    display: inline-block;
}
nav ul a {	
    line-height: 0 !important;
    text-decoration: none !important;
    font-size: 1.5em;
    color: white;
    padding-left: 2em;
    padding-right: 2em;
}

/* acá uso el efecto Mouse hover */
#nav-normal ul a:hover {
    background-color: white;
    color: violet;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
}

#nav-chiquito {
    display: none;
}
#contenedor {
    max-width: 1200px;
    width: 95%;
    margin: 0 auto;   
}

#contenedor img {
    max-width: 100%;
}

#primer_bloque {
    display: flex;
}

#primer_bloque section {
    padding: 5px;
}
footer {
    position:fixed;
    left:0px;
    bottom:0px;
   
    background-color: purple;
    width: 100%;
    color: white;
}
/* Mouse hover sobre una imagen */
footer img:hover {
    width: 40px;
    height: 40px;
    border: 2px solid violet;
    border-radius: 50%;
    transition: width 2s, height 4s;
}

footer img {
    width: 30px;
	height: 30px;
}
footer div {
    display: inline-block !important;
    text-align: center !important;
}

form {
    margin-left: auto;
    margin-right: auto;    
}

.mensaje_error {
    color: red;
    display: none;
}

#fpagos {
    display: flex;
    height: 200px;
    width: 100%;
}

.pago {
    width: 33%;
    height: 200px;
    text-align: center;
    font-size: large;
}

.pago i {
    font-size: x-large;
}

#enviado {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid red;
    border-radius: 15px;
    padding: 5%;
}
@media (min-width:600px) {
    footer {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        column-gap: 2rem;
    }
}

@media (max-width: 800px){
    #primer_bloque {
        display: block;
    }
    
    #primer_bloque section {
        padding: 2px;
    }

    nav ul li {
        padding: 2%;

    }
    #nav-normal ul a:hover {
        background-color: white;
        color: violet;
        border-top-left-radius: 30%;
        border-top-right-radius: 30%;
    }

    .pago {
        width: 100%;
        display: block;
        height: 200px;
    }
    
    footer {
        position: relative;
        left:0px;
        bottom:0px;
    }
}

@media (max-width: 600px){
    #nav-normal ul {
        display: none;
    }

    #nav-chiquito {
        display: block;
    }
    #nav-chiquito a {
        text-decoration: none;
        display: block;
        padding: 10px 20px;
        border-bottom: 2px solid purple;
        max-width: 200px;
        font-variant: small-caps;
      }
    
    #nav-chiquito a:hover {
        color: black;
    }
    #primer_bloque img {
        display: none;
    }   

    footer {
        position: relative;
        left:0px;
        bottom:0px;
    }
   
    #fpagos {
        display: block;
    }
    .pago {

        width: 100%;
        height: 50px;
        display: block;
        
    }

    .pago p {
        display: inline-block;
        padding: 5px;
    }

    #enviado {
        width: 75%;
        margin-left: auto;
        margin-right: auto;
        border: 1px solid red;
        border-radius: 15px;
        padding: 13%;
    }
}

